pkgbase = ros-noetic-depth-image-proc
	pkgdesc = ROS - Contains nodelets for processing depth images such as those produced by OpenNI camera.
	pkgver = 1.17.0
	pkgrel = 2
	url = https://wiki.ros.org/depth_image_proc
	arch = i686
	arch = x86_64
	arch = aarch64
	arch = armv7h
	arch = armv6h
	license = BSD
	makedepends = cmake
	makedepends = ros-build-tools
	makedepends = ros-noetic-tf2
	makedepends = ros-noetic-image-geometry
	makedepends = ros-noetic-nodelet
	makedepends = ros-noetic-cmake-modules
	makedepends = ros-noetic-stereo-msgs
	makedepends = ros-noetic-catkin
	makedepends = ros-noetic-cv-bridge
	makedepends = ros-noetic-eigen-conversions
	makedepends = ros-noetic-tf2-ros
	makedepends = ros-noetic-message-filters
	makedepends = ros-noetic-sensor-msgs
	makedepends = ros-noetic-image-transport
	makedepends = boost
	depends = ros-noetic-image-geometry
	depends = ros-noetic-nodelet
	depends = ros-noetic-cv-bridge
	depends = ros-noetic-eigen-conversions
	depends = ros-noetic-tf2-ros
	depends = ros-noetic-tf2
	depends = ros-noetic-image-transport
	depends = boost
	source = ros-noetic-depth-image-proc-1.17.0.tar.gz::https://github.com/ros-perception/image_pipeline/archive/69488e6e455d97c2deaf924234aa5f87b83cfda8.tar.gz
	sha256sums = f833d69491a2b4988bafa1e4d74b539486853ddd9f184506d7e2c61e1b03fa85

pkgname = ros-noetic-depth-image-proc
